#--------------------------------------------------------------------
# Example Environment Configuration file
#
# This file can be used as a starting point for your own
# custom .env files, and contains most of the possible settings
# available in a default install.
#
# By default, all of the settings are commented out. If you want
# to override the setting, you must un-comment it by removing the '#'
# at the beginning of the line.
#--------------------------------------------------------------------

#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

app.baseURL = 'http://localhost/billex2/public/'
# app.forceGlobalSecureRequests = false

# app.sessionDriver = 'CodeIgniter\Session\Handlers\FileHandler'
# app.sessionCookieName = 'ci_session'
# app.sessionSavePath = NULL
# app.sessionMatchIP = false
# app.sessionTimeToUpdate = 300
# app.sessionRegenerateDestroy = false

# app.cookiePrefix = ''
# app.cookieDomain = ''
# app.cookiePath = '/'
# app.cookieSecure = false
# app.cookieHTTPOnly = false

# app.CSRFProtection  = false
# app.CSRFTokenName   = 'csrf_test_name'
# app.CSRFCookieName  = 'csrf_cookie_name'
# app.CSRFExpire      = 7200
# app.CSRFRegenerate  = true
# app.CSRFExcludeURIs = []

# app.CSPEnabled = false

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

 database.default.hostname = localhost
 database.default.database = be
 database.default.username = root
 database.default.password = 
 database.default.DBDriver = MySQLi

 database.tests.hostname = 127.0.0.1
 database.tests.database = 
 database.tests.username = 
 database.tests.password = 
 database.tests.DBDriver = MySQLi

#--------------------------------------------------------------------
# CONTENT SECURITY POLICY
#--------------------------------------------------------------------

# contentsecuritypolicy.reportOnly = false
# contentsecuritypolicy.defaultSrc = 'none'
# contentsecuritypolicy.scriptSrc = 'self'
# contentsecuritypolicy.styleSrc = 'self'
# contentsecuritypolicy.imageSrc = 'self'
# contentsecuritypolicy.base_uri = null
# contentsecuritypolicy.childSrc = null
# contentsecuritypolicy.connectSrc = 'self'
# contentsecuritypolicy.fontSrc = null
# contentsecuritypolicy.formAction = null
# contentsecuritypolicy.frameAncestors = null
# contentsecuritypolicy.mediaSrc = null
# contentsecuritypolicy.objectSrc = null
# contentsecuritypolicy.pluginTypes = null
# contentsecuritypolicy.reportURI = null
# contentsecuritypolicy.sandbox = false
# contentsecuritypolicy.upgradeInsecureRequests = false

#--------------------------------------------------------------------
# Mail sent from
#--------------------------------------------------------------------
sent_from='' #no-reply@emri.net

#--------------------------------------------------------------------
# Amazon AWS credentials
#--------------------------------------------------------------------
aws.access_key_id='' #AKIAZIEIXD4D3OUKDOCJ

aws.secret_access_key='' #uGMMHAMy9kK0gKXSIMQIo68ZRh0wkLyUuBo+TlB3

#--------------------------------------------------------------------
# Amazon AWS SMTP credentials
#--------------------------------------------------------------------
aws.smtp_username='' #AKIAZIEIXD4DQIWW6MNZ

aws.smtp_password='' #BHeO2i5OTzOikkAKItau5oJptQtPLEm3gAc2DnAP0lLa

aws.smtp_host='' #email-smtp.us-east-1.amazonaws.com

#--------------------------------------------------------------------
# Google client id
#--------------------------------------------------------------------
google.client_id='' #69284026520-qalorkfo62h2571lqlesh1rp416far7r.apps.googleusercontent.com

google.place_api='' #AIzaSyBv5K3bTbjxjv_4QsspbSpZI6CHvxPPVsc

google.client_secret='' #_axVc4DZHLQM0s0rRsrH6-KH

#--------------------------------------------------------------------
# Stripe credentials
#--------------------------------------------------------------------

stripe.client_id='' #ca_FWUw9sWN5HRidXE5a9TZqrj69nSU0bPF

stripe.secret_key='' #sk_test_B5Nos0iHlli4UYsAO74cHhs300a6W21RrS

stripe.primary_key='' #pk_test_kXUEQuylbfoCnGauwtPj6l2600KA6btBqr

#--------------------------------------------------------------------
# Hashids encode salt
#--------------------------------------------------------------------

hashids.salt='' #1wfphpilsMtNumCRFRHXIDSqT2UPcWf1hZi3s7tN

#--------------------------------------------------------------------
# Wepay credentials
#--------------------------------------------------------------------

wepay.client_id='' #59962

wepay.client_secret='' #b395ab3574

#--------------------------------------------------------------------
# Click2Mail credentials
#--------------------------------------------------------------------

click2mail.username='' #doug@emri.net

click2mail.password='' #cU8DLB2AZh78eMQ

#--------------------------------------------------------------------
# Pusher credentials
#--------------------------------------------------------------------

PUSHER.APP_ID='' #968123

PUSHER.APP_KEY='' #80e0b18a728d0c1d00f7

PUSHER.APP_SECRET='' #9da9addfce0ad484fff8

PUSHER.APP_HOST='' #http://api.pusherapp.com